{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
    <center>
    <h1>Welcome to the static</h1>
    <div id="images" style="display: grid; grid-template-columns: auto auto auto;">
        <img src="{% static 'image/pic.jpg' %}" width="400px" height="230px"   alt="himanshi">
        <img src="{% static 'image/image2.jpg' %}" width="400px"  height="230px"  alt="himanshi">
        <img src="{% static 'image/image3.jpg' %}" width="400px" alt="himanshi">
        <!-- <img src="{% static 'image/image4.jpg' %}" width="400px" height="230px"   alt="himanshi"> -->
    </div>
    <div>
    <video style="margin-top: 80px; width: 150px; transform: rotate(270deg);margin-right: 100px;"  controls>
        <source  src="{% static 'video/abc.mp4' %}" type="video/mp4">
    </video>
    <video style="width: 150px;  margin-top: 20px;"  controls>
        <source  src="{% static 'video/lyrical_video.mp4' %}" type="video/mp4">
    </video>
    </div>
    </center>
</body>

</html>